<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".del" mimeType="text/css" />
			<mimeMap fileExtension=".delay" mimeType="text/css" />
		</staticContent>
	</system.webServer>
</configuration>